.Number {
    width: 5rem;
    height: 2rem;
    padding: 0;
    margin: 0;

    text-align: center;
    font-size: 1.6rem;
    
    display: block;

    -webkit-appearance: none;  
    appearance: none;
    outline: none;
    border: none;
}